* {
    font-family: Arima, sans-serif;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: auto;
}

body {
    background-color: #F1F5F9;
    min-height: max-content;
}

.header-sec {
    width: 100%;
    height: 60px;
    background: rgb(0, 128, 128);
    font-size: 40px;
    font-weight: 700;
}

#form-sec {
    margin-top: 30px;
    text-align: center;
    width: 300px;
    padding: 7px;
    border: 2px solid rgb(186, 186, 186);
    border-radius: 25px;
    width: max-content;
    margin-left: calc(100% / 2 - 150px);
}

#form-sec input {
    border-radius: 25px;
    width: 200px;
    padding: 5px 10px;
    border: 1px solid rgb(215, 215, 215);
}

#form-sec input:hover {
    background: aliceblue;
}

#form-sec button {
    border-radius: 25px;
    background: rgb(0, 128, 128);
    font-weight: 600;
    color: aliceblue;
    padding: 5px 10px;
    border: 1px solid rgb(0, 75, 75);
}

#form-sec button:hover {
    background: rgb(0, 79, 79);
    animation: btn-scale 1s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#todo-container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    width: auto;
    height: auto;
    margin: 0px 15px;
}

#todo-container li {
    padding: 5px 15px;
    align-content:center;
    margin: 15px 20px;
    padding-right: 25px;
    width:fit-content;
    border-radius: 25px;
    background: rgb(255, 255, 255);
    color: rgb(26, 86, 90);
    font-weight: 600px;
    font-size: 20px;
    border: 1px solid rgb(186, 186, 186);
    transition: all .5s;
}

#todo-container li:hover {
    background: rgb(56, 148, 155);
    cursor: pointer;
}

@keyframes btn-scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}